* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #ffffff;
    color: #1e293b;
}

/* NAVBAR */
nav {
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

.light {
    background: #f1f5f9;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.hero h3 {
    color: #38bdf8;
    margin: 10px 0;
}

/* BUTTONS */
.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 18px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.primary {
    background: #38bdf8;
    color: white;
}

.outline {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: white;
    padding: 8px 12px;
    margin: 6px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* PROJECTS */
.project-card {
    background: white;
    margin: 15px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
}
